*{	margin:0px;
	padding:0px;
}

body {
	background-color: #000000;
	color: #fff;
	height: 100%;
	font-family: cursive;
}

.login{
   	margin: 20vh 75vh;
    width: 402px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.reg {
	margin: 7vh 75vh;
    width: 402px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.reg h2, .login h2{
	width:402px;
	text-align: center;
	z-index: 10px;
}

.reg input, .login input {
	width:402px;
	height:60px;
	text-align: center;
	z-index: 5px;
}

.reg button, .login button{
	margin-left: 125px;
	margin-top: 15px;
	padding: 10px;
	width:150px;
	height: 50px;
	border-radius: 150px;
	border: 3px solid #fff;
	text-align: center;
	font-size: 16px;
	background-color: #000;
	color: #fff;

}