{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="{%static 'css/register.css'%}">
    <style>
    * {
	margin:0px;
	padding:0px;
}

body {
	background-color: #000000;
	color: #fff;
	height: 100%;
	font-family: cursive;
}


.reg {
	margin: 25vh 75vh;
    width: 402px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.reg h2 {
	width:402px;
	text-align: center;
	z-index: 10px;
}

.reg input {
	width:402px;
	height:60px;
	text-align: center;
	z-index: 5px;
}
    </style>
</head>
<body>
<header>

</header>
<main>
	<section class="registration">
                  {% csrf_token %}
        {{ form|crispy }}
        <button type="submit"
                class="btn btn-success btn-block">
            Change password
        </button>
        <a href=".."
           class="btn btn-danger btn-block">
            Back to home
        </a>
            </form>

		</section>
</main>
</body>
</html>