{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PopCorn</title>
     <link rel="icon" href="/media/favicon%20(1).ico">
    <link type="text/css" rel="stylesheet" href="../../media/css/style.css?v=3">
    <link type="text/css" rel="stylesheet" href="../../media/css/film_detail.css?v=2">
    <link type="text/css" rel="stylesheet" href="../../media/css/styleActorsFilmmakers.css">
    <link type="text/css" rel="stylesheet" href="../../media/css/styleFilms.css">
    <link type="text/css" rel="stylesheet" href="../../staticfiles/css/actor_filmmaker_page.css">
    <link type="text/css" rel="stylesheet" href="../../media/css/register.css?v=4">

</head>
<body>
{% include 'include/header.html' %}
<main>
{% block content %}

{% endblock content %}
</main>
</body>
</html>