

.container_film{
	margin-left: 300px;
	width:950px;
	background: #101010;
	margin-top:  15px
}

.about-film {
	padding: 25px 25px;
	display: inline-flex;
}

.about-film section {
	margin-left: 40px;
	font-size: 14pt;
}

.about-film section h1 {
	margin-bottom: 20px;
	font-size: 17pt;
}

.about-film section li{
	list-style-type: none;
}
.about-film section li a{
	color: #fff;
}
.about-film section li a:hover{
	color: #d53600;
}
.info{
	margin-top: 50px;
}

img{
	width:205px;
	height:307.5px;
}
.article_film{
	width: 650px;
	height: 88px;
	padding-left: 50px;
	padding-bottom: 10px ;
}
.trailer video{
    padding-top: 15px;
	width: 540px;
	height: 304px;
}

.trailer{
	padding: 70px 0px 10px 50px;
}
.new_comment{
	display: grid;
}

.new_comment label{
	margin-left: 25px;
	font-size: 14pt;
}
.new_comment textarea{
	width: 865px;
	height: 85px;
	font-family: cursive;
	margin: 5px 40px;
}
.new_comment input{
	background-color: #d53600;
	border: #d53600;
	width: 70px;
	height: 20px;
	margin-left: 40px;

}
.authent{
	margin: 0px 50px;
}
.authent a{
	color: #d53600;
}
.authent span{
	text-decoration: underline;
}
.authent a:hover{
	color: #ff0004;
}
.all-comments h4{
	padding-top: 20px;
	padding-left: 25px;
	font-size: 14pt;
}
.comment {
    display: flex;
    margin: 0px 50px;
	padding: 15px 0px;
    border-bottom: 1px solid #999;
}

.comment_info span{
	color: #d53600;
}


.pagination{
padding-left: 50px;
		display: flex;
	flex-direction: row;
	list-style: none;
	height: 30px;
	margin-top: 2px;
	padding-bottom: 5px;
	margin-bottom: 10px;


}
.pagination li{
	padding: 1px;
	border: none;

}
 .pagination li a{
	 color: #d57633;
	 margin-left: 5px;
	 text-decoration: none;
	 font-size: 13pt;
     margin-right: 4px;
	 border: none;
 }

 .pagination li a:visited{
	 text-decoration: none;
 }
  .pagination li a img{
	  padding-left: 3px;
	  height: 20px;
	  width: 16px;
	  background-color: #d53600;
	  border-radius: 50px;
	  margin-top: 3px;

 }
#back{
	padding-right: 3px;
	padding-left: 0px;
}
 #active{
	 font-size: 13pt ;
	 background-color: #d53600;
	 border-radius: 50px;
 }

  #active-link{
	 color: #000000;
 }

  .disabled{
	  opacity:0%;
	  display: none;
  }
